<div class="container mt-5" style="PADDING-TOP: 22PX;">

<div>
    {{ form_start(form) }}


<div class="row justify-content-around" style="MARGIN-LEFT: -90PX;">
			<div class="col-4 mt-2">{{form_row(form.code_projet)}}</div>

			<div class="col-4 mt-2"></div>



		</div>
        <div class="row justify-content-around">
			<div class="col-4 mt-2"><button type="submit"class="btn btn-ligth" 
            style="margin-left:58px; background-color: #F4B83D;color:white">Enregistrer</div>

			<div class="col-4 mt-2"></div>



    {{ form_end(form) }}
</div>