{% extends 'BaseAdmin.html.twig' %}


{% block title %}Administration
{% endblock %}

{% block body %}
<div class="container">

	<h1 class="mt-5">Modifier l'équipe</h1>

	{{ include('admin/equipe/_form.html.twig') }}

	<h1 class="mt-5">Désigner un manager</h1>
{% endblock %}
