<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title> 
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		{% endblock %}
	</head>
    {% block body %}
	<body>
  
		Bonjour 
		<br>

		Un nouveau ticket vous a été affecté,consultez votre compte pour le traiter.
       {# <a href ="{{ path ('ticket_show') }}"> ici </a> #}
     

		<br>
		<br>


		Cordialement<br>

		SOLWAY Consulting & Services<br>

		<img src="{{ absolute_url(asset('assets/Images/Logo_slogan.jpg'))}}" width="30%"/> 
       
		</body>
        {% endblock %}
	</html>
